version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
      - run:
          name: install packages
          command: npm ci --no-optional
      - save_cache:
          key: node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
          paths:
            - ~/.npm
      - run:
          name: Run Build
          command: CI=true npm run build
  test:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - run:
          name: install packages
          command: npm ci --no-optional
      - run:
          name: Run Tests
          command: CI=true npm run test
  deploy:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "e0:d5:d9:a6:5d:8e:ff:a2:d7:7d:1c:56:6c:82:c7:fa"
      - run:
          name: install packages
          command: npm ci --no-optional
      - run: git config --global user.email iChristiano.mail@gmail.com
      - run: git config --global user.name iChristiano
      - run:
          name: Run Deploy
          command: CI=true npm run deploy
workflows:
  build_test_deploy:
    jobs:
      - build
      - test
      - deploy:
          requires:
            - test
            - build
          filters:
            ignore:
              only: "gh-pages"
