version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
      - run:
          name: install packages
          command: npm ci --no-optional
      - save_cache:
          key: node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
          paths:
            - ~/.npm
      - run:
          name: Run Build
          command: CI=true npm run build
  test:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - run:
          name: install packages
          command: npm ci --no-optional
      - run:
          name: Run Tests
          command: CI=true npm run test
  deploy:
    docker:
      - image: cimg/node:16.14.0
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "b7:35:a6:4e:9b:0d:6d:d4:78:1e:9a:97:2a:66:6b:be"
      - run:
          name: install packages
          command: npm ci --no-optional
      - deploy:
        name: Deploy Release to GitHub
        command: |
          if [ $CIRCLE_BRANCH == 'source' ]; then
            bash .circleci/deploy.sh
          fi
workflows:
  build_test_deploy:
    jobs:
      - build
      - test
      - deploy:
          requires:
            - test
            - build